# Java
bin

# Libraries
craftbukkit-0.0.1-SNAPSHOT.jar

# Eclipse
.classpath
.project
.settings

# Minecraft
banned-ips.txt
banned-players.txt
bukkit.yml
ops.txt
server.log*
server.properties
test-error.txt
test-output.txt
white-list.txt
world/
